@(virtualObjecId: String)

@main("Welcome to Play") {

    <h1>VirtualObject</h1>

    <div id="canvas-wrapper">
        <canvas id="canvas"></canvas>
    </div>

    <button id="randomizeData">Randomize Data</button>
    <button id="addData">Add Data</button>
    <button id="removeData">Remove Data</button>

    <div id="singlevirtualobject-map"></div>

    <script type="text/javascript">
            window.onload = function () {
                showVirtualObjectInitializer("@virtualObjecId");
            };
    </script>

}