@()

@main("Welcome to Play", "Chart") {

    <div id="canvas-wrapper">
        <canvas id="multiple-virtualobject-canvas"></canvas>
    </div>

    <table>
        <tr>
            <th>UUID</th>
            <th>Path</th>
            <th>Sense Capability (units)</th>
            <th>Actuation Capability</th>

        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

    </table>

    <script type="text/javascript">
            window.onload = function () {
                showVirtualObjectListInitializer();
            };
    </script>
}