@(message: String)

@main("Welcome to Play", "Example") {

    <h1>Things</h1>
    <table>
        <tr>
            <th>UUID</th>
            <th>Path</th>
            <th>Capability</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>

    <button>Retrieve all</button>

    <h1>Map</h1>
    <div id="heatmap"></div>

}

