@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/maps.js")" type="text/javascript"></script>

    </head>
    <body>

        <h1>Things</h1>
        <table>
            <tr>
                <th>UUID</th>
                <th>Path</th>
                <th>Capability</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>

        <button>Retrieve all</button>

        <h1>Map</h1>
        <div id="heatmap"></div>
        <script>

    </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHOtfJrnwMu34nxcJVrZyjfFtnQH7ha2Y&callback=initMap&libraries=visualization"
        async defer></script>
    </body>
</html>