@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
        <script src="@routes.Assets.versioned("lodash/lodash.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("jquery/jquery-3.1.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content

    <script src="@routes.Assets.versioned("javascripts/maps.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHOtfJrnwMu34nxcJVrZyjfFtnQH7ha2Y&callback=initializeVirtualObjectMap&libraries=visualization"
    async defer>
    </script>
    </body>
</html>